<script setup>
const props = defineProps(['pages'])
import { ChevronRightIcon, HomeIcon } from '@heroicons/vue/20/solid'
</script>

<template>
  <header class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
      <nav class="flex grow" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-4 px-2">
          <li>
            <div>
              <RouterLink :to="{ name: 'home' }" class="text-gray-400 hover:text-gray-500">
                <HomeIcon class="h-5 w-5 flex-shrink-0" aria-hidden="true" />
                <span class="sr-only">Home</span>
              </RouterLink>
            </div>
          </li>
          <li v-for="page in pages" :key="page.name">
            <div class="flex items-center">
              <ChevronRightIcon class="h-5 w-5 flex-shrink-0 text-gray-400" aria-hidden="true" />
              <RouterLink
                :to="page.link"
                class="text-lg ml-4 font-semibold text-gray-500 hover:text-gray-700"
                :aria-current="page.current ? 'page' : undefined"
                >{{ page.name }}</RouterLink
              >
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </header>
</template>
