<script setup>
defineProps({
  changes: { type: Array, required: true }
})

function changeDescription(change) {
  const count = Object.keys(change.files).length;
  return (count > 1 ? `${count} files changed` : "1 file changed") + ' by ' + change.user.fullname
}

function changeLanguage(change) {
  for (let entry in change.files) {
    return entry.split('/')[0];
  }
}

function changedFiles(change) {
  return Object.keys(change.files).map((file) => file.split('/').splice(1, 2).join(' - ')).join(', ')
}

function displayDate(datetime) {
  const date = new Date(datetime);
  return new Intl.DateTimeFormat(undefined).format(date)
}
</script>

<template>
  <ul role="list"
      class="divide-y divide-gray-100 overflow-hidden bg-white shadow ring-1 ring-gray-900/5 sm:rounded-xl mt-5">
    <h1 class="font-semibold text-xl px-5 py-6 sm:px-6">Pending reviews</h1>
    <li v-for="change in changes" :key="change.id">
      <RouterLink :to="{name: 'review', params: { id: change.id }}"
                  class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
        <div class="flex min-w-0 gap-x-4">
          <img class="h-12 w-12 flex-none rounded-full bg-gray-50" :title="change.user.fullname"
               :src="change.user.picture" :alt="change.user.fullname"/>
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              <span class="absolute inset-x-0 -top-px bottom-0"/>
              {{ changeDescription(change) }}
            </p>
            <p class="mt-1 flex text-xs leading-5 text-gray-500">
              <span class="truncate">{{ changedFiles(change) }}</span>
            </p>
          </div>
        </div>
        <div class="flex shrink-0 items-center gap-x-4">
          <div class="hidden sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">{{ changeLanguage(change) }}</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">
              Last modified
              <time :datetime="change.modified_at">{{ displayDate(change.modified_at) }}</time>
            </p>
          </div>
          <ChevronRightIcon class="h-5 w-5 flex-none text-gray-400" aria-hidden="true"/>
        </div>
      </RouterLink>
    </li>
  </ul>
</template>