<!--
SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<script setup>
import {useMainStore} from '@/stores/store.js'
import {onMounted, ref, toRefs} from "vue";
import ReviewList from "@/components/ReviewList.vue";

const store = useMainStore()
if (Object.keys(store.languages).length === 0) {
  store.fetchLanguages()
}
const changes = ref([]);

async function loadChanges() {
  const response = await fetch(`/api/v1/changes/`)
  changes.value = await response.json()
}

onMounted(() => {
  loadChanges();
})
</script>

<template>
  <div>
    <div class="rounded-lg bg-white shadow divide-y divide-gray-200">
      <h1 class="font-semibold text-xl px-5 py-6 sm:px-6">Languages</h1>
      <div class="px-5 py-6 sm:px-6">
        <div v-for="(_, lang) in store.languages" :key="lang">
          <RouterLink :to="{ name: 'lang', params: { lang } }">{{ lang }}</RouterLink>
          <br/>
        </div>
      </div>
    </div>

    <ReviewList :changes="changes"/>
  </div>
</template>
