<script setup>
import {onMounted, ref} from "vue";
import ReviewList from "@/components/ReviewList.vue";

const changes = ref([]);

async function loadChanges() {
  const response = await fetch(`/api/v1/changes/`)
  changes.value = await response.json()
}

onMounted(() => {
  loadChanges();
})
</script>

<template>
  <ReviewList :changes="changes" />
</template>